<html>
<head>
    <title>TIY Java Gradle Template</title>
</head>
<body>
<h1>This is the home.mustache file.</h1>

<h2>Here is a list of widgets:</h2>

<table border="1">
    <tr>
        <th>Page Number</th>
        <th>Period</th>
        <th>Prayer</th>
    </tr>
    {{#widgets}}
        <tr>
            <td>{${periodicaltexts.page_number}}</td><td>{{period}}</td><td>{{prayer}} lbs</td>
        </tr>
    {{/widgets}}
</table>

</body>
</html>