<html>
<head>
    <title>TIY Java Gradle Template</title>
</head>
<body>
<h1>This is the home.mustache file.</h1>

<h2>Here is a list of periodicaltexts:</h2>

<table border="1">
    <tr>
        <th>Page Number</th>
        <th>Period</th>
        <th>Prayer</th>
        <th>Text</th>
    </tr>
    = raw(atrybutx)
    {{#periodicaltexts}}
        <tr>
            <td>{{page_number}}</td><td>{{period}}</td><td>{{prayer}}</td><td >{{{prayer_text}}}</td>
        </tr>
    {{/periodicaltexts}}
</table>

</body>
</html>